@import "../../../../app/mixin.scss";
.MuiPaginationItem-root.Mui-selected {
  background-color: #ff6500 !important;
}
.MuiPaginationItem-root {
  color: #fff !important;
}
.MuiPagination-ul {
  justify-content: center;
}
.MuiSkeleton-root {
  @include tablet {
    height: 306px;
  }
  @include smallScreen {
    height: 304px;
  }
  @include mobile {
    height: 272px;
  }
}
